@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Montserrat:ital,wght@1,900&family=Roboto:wght@300&display=swap');
body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}


/* navbar */

.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
}

nav.navbar {
    /* border: 1px solid #035de4; */
    box-shadow: 1px 1px 150px rgb(0, 0, 0);
    background-image: linear-gradient( 180deg, #21D192, #00c47f);
    opacity: .93;
}


/* bannner */

#banner {
    background-image: url("/static/images/background/diu.jpg");
}

.banner-image {
    background-image: linear-gradient(135deg, #05c595, #00ac64);
    opacity: .90;
}

.get-started-btn {
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .75px;
    text-transform: uppercase;
    outline: none!important;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient( 180deg, #3c96ee, #604ae6);
    opacity: .93;
    padding: 1px 24px;
}

.get-started-btn:hover {
    color: #00be8f;
    background-color: rgb(255, 219, 225);
    transition: all 0.3s ease;
}

.btn-primar {
    color: #fff;
    background-image: linear-gradient(135deg, #05c595, #00ac64);
    border-color: #ffffff;
}

.btn-primar:hover {
    background-image: linear-gradient( 180deg, #ffffff, #ffffff);
    opacity: .93;
}


/* about */

#about {
    background-image: url("/static/images/background/header-bg.png");
}

.about-text {
    text-align: justify;
}

.register-button {
    width: 160 px;
    display: inline-block;
    height: 44 px;
    line-height: 45px;
    text-align: center;
    border-radius: 5 px;
    margin: auto auto 40 px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .75px;
    text-transform: uppercase;
    outline: none!important;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    border: 1 px solid #fff;
    background-color: rgb(252, 79, 108);
    padding: 2px 24px;
}

.register-button:hover {
    color: rgb(252, 79, 108);
    background-color: rgb(255, 219, 225);
    transition: all 0.3s ease;
}


/* footer */


/* loging */