{% extends "main.html" %}
{% block  title %}DBMS | Home{% endblock title %}
{% load static %}
{% block content %}

<!-- bannner -->
<div id="banner" class="container-fluid">
    <div class="row ">
        <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 col-sm-12 text-center">
                <h1 class="text-white">DIU Defense Board Management System</h1>
                <p class="mt-4" style="font-size: 18px; color: #e7f4ff;">Dhaka International University (DIU) is one of the leading, familiar and note-worthy private universities in Bangladesh. Department of Software Engineering (SE) is one of the most important organ of this university. All the final year
                    students have to do a mandatory year-long development project, research project or internship.</p>
                <br> {% if user.is_authenticated %}

                <a href="{% url 'home' %}" id="# " class="btn btn-primar get-started-btn mt-3 ">Dashboard</a> {% else %}

                <a href="{% url 'login' %}" id="# " class="btn btn-primar get-started-btn mt-3 ">Get started</a> {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- About DBMS -->
<div class="container">
    <div id="about" class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 about-text">
            <br>
            <h2 class="mt-2">About DIU DBMS</h2>
            <br>
            <p>Welcome to DIU DBMS. DIU Defense Board Management System provides a single point access to final year project information for both students and faculties. </p>
            <p>All the final year students of department of SE have to do a mandatory development project, research project or internship. In this course, Students need to attend Pre-defense/Mid-defense. After they need to attend Final defense.
            </p>
            <br> {% if user.is_authenticated %}
            <a href="{%url 'defense_reg'%}" class="btn btn-primary register-button">Register for Defense</a> {% else %}
            <a href="{%url 'login'%}" class="btn btn-primary register-button">Register for Defense</a> {% endif %}
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12" style="padding-top:50px;">
            <img src={% static "images/svg/about-dbms-1.svg" %} alt="" class="img-fluid float-right">
        </div>
    </div>
</div>


<!-- Index Contact -->

<div class="container">
    <div id="index-contact" class="row text-center">
        <div class="contact-text-area">
            <h2>Project/Internship/Thesis Committe</h2>
            <p class="text-muted">For any queries regarding project/internship contact the above mentioned persons.</p>
        </div>

        <div class="col-md-4 py-5">
            <img src={% static "images/profile/p-1.png" %} alt="" class="img-fluid rounded-circle d-block mx-auto" style="height: 150px; width: 150px;">
            <div class="img-text py-5">
                <h4 class="fw-bold text-dark">Mr. S A M Matiur Rahman</h4>
                <p>Associate Professor and Associate Head</p>
                <p>matiur.swe@diu.edu.bd</p>
                <p>+8801764619998</p>
            </div>
        </div>

        <div class="col-md-4 py-5">
            <img src={% static "images/profile/p-4.svg" %} alt="" class="img-fluid rounded-circle  d-block mx-auto" style="height: 150px; width: 150px;">
            <div class="img-text py-5">
                <h4 class="fw-bold text-dark">Ms. Syeda Sumbul Hossain</h4>
                <p>Lecturer (Senior Scale)</p>
                <p>syeda.swe@diu.edu.bd</p>
                <p>+8801918455555</p>
            </div>
        </div>

        <div class="col-md-4 py-5">
            <img src={% static "images/profile/p-5.svg" %} alt="" class="img-fluid rounded-circle  d-block mx-auto" style="height: 150px; width: 150px;">
            <div class="img-text py-5">
                <h4 class="fw-bold text-dark">Mr. Sk. Fazlee Rabby</h4>
                <p>Lecturer</p>
                <p>fazleerabby.swe@diu.edu.bd</p>
                <p>+8801711399300</p>
            </div>
        </div>
        <a href="{% url 'contact' %}" id="# " class="btn btn-primary mt-3 more-btn">More<i class="fal fa-arrow-right ml-2"></i></a>
    </div>
</div>







<!-- Main Content Area -->
<div class="container ">
    <div class="row ">
        <div class="container my-5 d-grid gap-5 ">
            <div class="p-5 border ">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores natus iusto fugit id saepe neque rerum magni laudantium accusantium dolorem numquam quasi.
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}