{% extends "user/user_main.html" %}{% load static %} {% block content %}
<div class="container">
    <div class="row text-muted student-pannel">
        <h2>Student pannel</h2>
        <p>Welcome to DBMS student pannel</p>
    </div>
</div>





<!-- Notice and Eligibility -->
<div class="container">
    <div class="row text-center notice-section p-5">
        <h1 class="text-success mb-3">Notice For <span>Spring 2022</span> </h1>
        <p class="text-danger">Submit your project proposal from bellow by registering title defense after reading all the Eligibility within 25-02-2022. After that, We will not accept any proposal.</p>
        <p class="text-danger ">Join google classroom for all update: <span>6DFch1</span></p>
        <h4 class="text-muted ">Dear Students, If you face any type of issue, please take a screenshot and send it to  <span><a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZfSkdHkNCvQKVmJMPgvwnLwqHSQFqJvZfRmcJmgdRbJvqvHMSMjzrmXNbWSdfbNsWpMpL">someone@diu.edu.bd</a></span></h4>
        <p class="text-danger">For any other queries contact with this number: +88016********</p>
    </div>
</div>


<!-- Notice and Eligibility -->
<div class="container">
    <div class="row text-center eligiblity-section ">
        <h1 class="text-muted fw-bold">Eligibility for <span class=" auto-type-title text-success"></h1>
        <p class="text-danger">A student must be completed at least 120 Credits to Enrolled Thesis/Project/Internship proposal.</p>
        <br>
        <table class="table table-bordered mt-4">
            <tbody>
              <tr>
                
                <td class="fw-bold bg-light">Thesis</td>
                <td class="fw-bold bg-light">Project</td>
                <td class="fw-bold bg-light">Intenship</td>
                
                
              </tr>

              <tr>
                
                <td class = "text-justify" style = "letter-spacing: .75px;">Students must have 3.5 CGPA to apply for Thesis. For less CGPA Dept. and Thesis/Project Committee will decide later by their fixed criteria.</td>
                <td class = "text-justify" style = "letter-spacing: .75px;">Any student can take the project but you must be followed SDLC to complete the project. We highly discourage the so-called old management system project. Students must have knowledge in both Back end and front end development for the project.</td>
                <td class = "text-justify" style = "letter-spacing: .75px;">Students must have 3.25 CGPA. Students must work on renowned software companiesfor internships and must work on SDLC Steps. Internship time minimum of 4 months and you must submit appointment latter to the Thesis/Project Committee. After filling all the criteria the Thesis/Project Committee will inform you about the result. If the result is negative then you have to take the project to complete your degree.</td>
                
                
              </tr>
              
              
            </tbody>
          </table>
    </div>
</div>


<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center mt-5 " id="def-reg-team">
        <div class="card col-md-4 bg-light" id="defense-registration">
            <img src={% static "images/svg/def-reg.svg" %} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-4 text-center fw-bold">Register for Title Defense</h5>
                <p class="card-text text-muted mb-4">Use the link bellow to complete your registration. Last day of registration is <span class="text-danger"> Monday, February 25th 2022</span>. No submission will be received after the deadline.</p>
            <a href="{% url 'defense_reg' %}" id="def_reg" class="btn btn-primary justify-content-center mb-4">Register for
                        Defense</a>
    </div>
</div>

<div class="card col-md-4 bg-light" id="defense-team" style="margin-left:20px;">
    <img src={% static "images/svg/user-group.svg" %} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title mb-4 text-center fw-bold">Create Your Team</h5>
        <p class="card-text text-muted mb-4">Use the link bellow to create your team.Last day of registration is <span class="text-danger"> Monday, February 25th 2022</span>. No submission will be received after the deadline.</p>
        <a href="#" id="def_reg" class="btn btn-primary disabled justify-content-center mb-4">Create
                        Team</a>
    </div>
</div>
</div>
</div>





<div class="alert alert-danger container mt-5 p-4 text-center" role="alert">
    For now no group allowed, Only Individual Task allowed!
</div>

<div class="container">
    <div class="row"></div>
</div>

{%endblock%}