{% extends "user/user_main.html" %}{% load static %} {% block content %}
<div class="container">
    <div class="row text-muted student-pannel">
        <h2>Student pannel</h2>
        <p>Welcome to DBMS student pannel</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center" id="def-reg-team">
        <div class="card col-md-4" id="defense-registration">
            <img src={% static "images/svg/def-reg.svg" %} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-4 text-center fw-bold">Register for Title Defense</h5>
                <p class="card-text text-muted mb-4">Use the link bellow to complete your registration. Last day of registration is <span class="text-danger"> Monday, May 25th 2021</span>. No submission will be received after the deadline.</p>
                <a href="{% url 'defense_reg' %}" id="def_reg" class="btn btn-primary justify-content-center mb-4">Register for
                        Defense</a>
            </div>
        </div>

        <div class="card col-md-4 " id="defense-team" style="margin-left:20px;">
            <img src={% static "images/svg/user-group.svg" %} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-4 text-center fw-bold">Register for Title Defense</h5>
                <p class="card-text text-muted mb-4">Use the link bellow to create your team.Last day of registration is <span class="text-danger"> Monday, May 25th 2021</span>. No submission will be received after the deadline.</p>
                <a href="#" id="def_reg" class="btn btn-primary disabled justify-content-center mb-4">Create
                        Team</a>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger container mt-5 p-4 text-center" role="alert">
    For now no group allowed, Only Individual Task allowed!
</div>

<div class="container">
    <div class="row"></div>
</div>

{%endblock%}